<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/jquery-1.9.0.min.js"></script>
  <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/calendar.css">
  <script src="/js/calendar.js"></script>
  <script src="/js/digit.js"></script>
  <script src="/js/countdown.js"></script>
  <link rel="stylesheet" href="/css/message.css">
  <title>SherryHolmes留言板</title>
</head>
<body>
  <div class="public-header">
    <div class="header-body">
      <div class="header-logo">Sherry<span>H</span>olmes</div>
      <ul class="header-menu">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/blog">Articles</a></li>
        <li class="item active"><a href="/article/message">Messages</a></li>
        <li class="item"><a href="">Contact</a></li>
        <li class="nav-login">
          <% if(user) {%>
            <div class="login-item user-name">
              <%=user.name %><span> | </span>
            </div>
            <div class="login-item"><a href="/logout">Logout</a></div>
            <% } else {%>
              <a href="/login">Login<span> | </span>Logup</a>
              <% } %>
        </li>
      </ul>
    </div>

  </div>
  <div class="blog-panel">
    <form method="post" action="/message" enctype="multipart/form-data">
      <% if(user) {%>
        <input type="hidden" name="name" value=<%=user.name %> >
        <% } %>
          <label for="#message-textarea">写留言</label>
          <br>
          <textarea type="text" name="content" id="message-textarea"></textarea>
          <br>
          <input type="submit" class="message-submit" value="提交">
    </form>
    <div class="panel-left clearfloat">
      <div class="blog-title">
        <%=title %>
      </div>
      <div class="line"></div>
      <div class="left-message">
        <p>留言(<%=messages.length%>)</p>
        <div class="line"></div>
        <% if(messages) { %>
          <% for (var i=0; i<messages.length; i++) { %>
          <div class="message-text">
            <ul>
              <li class="name">
                <%= messages[i].name %>
              </li>
              <li class="floor">第<%=i+1 %>楼</li>
            </ul>
            <br>
            <div class="message-content">
              <%= messages[i].content %>
            </div>
          </div>
          <ul class="control">
            <li class="control-item"><a href="#">点赞</a></li>
            <li class="control-item"><a href="#">回复</a></li>
            <!-- <li class="control-item"></li> -->
          </ul>
          <div class="clock"><%=moment(messages[i].meta.updateAt).format('YYYY/MM/DD h:mm:ss a') %></div>
          <div class="line"></div>
        <% } }%>
      </div>
      
    </div>
    <div class="panel-right clearfloat">
      <a href="#" class="new-file">
        <i class="fa fa-plus fa-fw"></i>
        写留言
      </a>
      <ul class="right-list">
        <li class="list-item list-canvas">
          <canvas id="canvas-clock">
            当前浏览器不支持Canvas，请更换浏览器后再试
          </canvas>
        </li>
        <li class="list-item Calendar">
          <div id="idCalendarPre"><<</div>
          <div id="idCalendarNext">>></div>
          <span id="idCalendarYear">2008</span>年 <span id="idCalendarMonth">8</span>月
          <table cellspacing="0">
            <thead>
              <tr>
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
              </tr>
            </thead>
            <tbody id="idCalendar">
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  <footer id="footer-link">
    <ul class="share-group">
      <li>
        <a target="_blank" href="http://github.com/" class="icon-github">
          <i class="fa fa-github fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://google.com" class="icon-google-plus3">
          <i class="fa fa-google fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://passport.weibo.com" class="icon-sina-weibo">
          <i class="fa fa-weibo fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://ihaorui.me/" class="icon-comment">
          <i class="fa fa-home fa-fw"></i>
        </a>
      </li>
    </ul>
    <div class="copy">
      &copy SherryHolmes - 2017
    </div>
  </footer>

  <script>
    $(".new-file").on("click", function () {
      $('.blog-panel>form').css("display", "block");
    })

    $(".message-submit").on("click", function () {
      $('.blog-panel>form').css("display", "none");
    })
  </script>
</body>

</html>